<h2>Edit new bike for <%= session[:first_name]  %></h2>

<%= form_for @bike do |f| %>
    <%= f.label :bike_name %><br>
    <%= f.text_field :bike_name %><br>
    <%= f.label :bike_type %><br>
    <%= f.text_field :bike_type %><br>
    <%= f.label :stolen %><br>
    <%= f.check_box :stolen %><br><br>
    <%= f.label :manufacturer_id %><br>
    <%= f.collection_select :manufacturer_id, Manufacturer.all, :id, :name %><br><br>

    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %><br><br>
    <%= f.submit %>
<% end %>

<h3>Images</h3>
<ul class="bike_pics">
    <% @bike.images.each do |image| %>    
        <li>
        <%= link_to( image_tag(image, :size => "200x100", :class => "thumbnail"), bikes_image_path("bike_id" => @bike, "image_id" => image))  %>        
        <%= button_to "Delete Image", bikes_image_path("bike_id" => @bike, "image_id" => image), method: :delete %>
        </li>
    <% end %>
<ul>

