<!DOCTYPE html>
<html>
  <head>
    <title>BikerRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>    
    <div class="box">    
    <p class="bet_time"><h1>Biker</h1></p>
    </div>
    <% if(session[:user_id]) %>
      <%= link_to("Back to my profile", biker_path(session[:user_id]))%><br>
    <% end %>
    <%= yield %>
  </body>
</html>
